.form {
  display: flex;
  gap: 8px;
}

.explore-grid {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  margin-top: 32px;
  column-count: 3;
  gap: 16px;
}

@media (max-width: 1400px) {
  .explore-grid {
    column-count: 2;
  }
}

@media (max-width: 900px) {
  .explore-grid {
    column-count: 1;
  }
}
