@import url("../../Variables.css");

.games-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  .button-grid{
    display: flex;
    gap: 16px;
    padding: 16px;
    .game-button{
      width: 50%;
    }
  }
}

