.explore-card {
  border-radius: 16px;
  overflow: hidden;
  border: 2px solid var(--main);
  margin-bottom: 16px;

  .thumb {
    position: relative;
    overflow: hidden;

    .thumb-img {
      width: 100%;
      max-height: 400px;
      object-fit: cover;
      display: block;
    }

    .badges {
      position: absolute;
      top: 8px;
      left: 8px;
      display: flex;
      gap: 6px;
      z-index: 2;
    }
    .rate {
      position: absolute;
      top: 8px;
      right: 8px;
      z-index: 2;

      .meta {
        --size: 40px;
        --thickness: 5px;
        --percent: 0;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        display: grid;
        place-items: center;
        position: relative;

        background: conic-gradient(
          var(--green) calc(var(--percent) * 3.6deg),
          transparent 0deg
        );

        &::before {
          content: "";
          position: absolute;
          inset: calc(var(--thickness));
          border-radius: 50%;
          background: var(--dark-main);
        }
        .rating {
          position: relative;
          z-index: 1;
        }
      }
    }
  }

  .explore-body {
    padding: 16px;

    .screenshots {
      display: flex;
      gap: 6px;
      overflow-x: auto;
      padding-top: 6px;
      padding-bottom: 6px;
      -webkit-overflow-scrolling: touch;

      .shot {
        width: 72px;
        height: 42px;
        object-fit: cover;
        border-radius: 6px;
        flex: 0 0 auto;
        box-shadow: 0 4px 10px rgba(2, 6, 23, 0.6);
      }
    }

    .screenshots::-webkit-scrollbar {
      height: 8px;
    }

    .screenshots::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.06);
      border-radius: 8px;
    }

    .desc {
      display: -webkit-box; /* necesario para line-clamp */
      -webkit-line-clamp: 3; /* número de líneas que quieres mostrar */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  /* .explore-screenshots{
        display: flex;
        flex-wrap: wrap;
        img{
            width: 20%;
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: 50% 50%;
        }
    } */
}

@media (max-width: 768px) {
}
