.games-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  .game-card {
    width: 49%;
    min-width: 350px;

    img {
      width: 100%;
    }
  }

  .button-grid{
    display: flex;
    gap: 4px;
    .game-button{
      width: 50%;
    }
  }
}

@media screen and (max-width: 768px) {
  .games-grid {

  .game-card {
    width: 100%;

  }

}
}