:root {
  --light: #fdfdfd;
  --dark: #101010;
  --light-gray: #d3d3d3;
  --dark-gray: #383838;

  --blue: #22d3ee;
  --dark-blue: #014d80;
  --green: #22ee66;
  --dark-green: #00642b;
  --purple: #bc75ff;
  --dark-purple: #430180;
  --red: #ff7575;
  --dark-red: #800101;
  --orange: #ffb86a;
  --dark-orange: #ca3500;

  /* trasparent */
  --green-transparent: #22ee6699;
  --dark-green-transparent: #00642b99;
  --red-transparent: #ff757599;
  --dark-red-transparent: #80010199;
  --orange-transparent: #ffb86a;
  --dark-orange-transparent: #ca3500;

  /* main color */
  --main: var(--orange);
  --dark-main: var(--dark-orange);

  --main-transparent: var(--orange-transparent);
  --dark-main-transparent: var(--dark-orange-transparent);

  --header-height: 50px;

  --transition: all 0.3s ease;
}